
@media only screen and (min-device-width: 1024px) {
* {
        margin: 0;
        padding: 0;
}

html {
        overflow-x: hidden;
}

body {
        background-color: #fff;
        font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
        line-height: 20px;
        margin-bottom: 20px;
}

h1 {
        font-family: 'Anonymous-Pro', serif;
        font-weight: bold;
        color: #d0d0d0;
        font-size: 35px;
        margin-bottom: 20px;
}

h2 {
        font-weight: 300;
        color: #444;
        font-size: 55px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
}

h3 {
        font-size: 30px;
        color: #444;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
}

h4{
        font-size: 24px;
        color: #444;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
}

h5 {
        font-size: 15px;
        color: #444;
        font-weight: bold;
        text-transform: uppercase;
}

a {
        font-family: 'Anonymous-Pro';
        text-decoration: none;
}

a:hover {
        font-family: 'Anonymous-Pro';
        color: #02b8dd;
}

strong {
        font-weight: bold;
}

small {
        font-size: 13px;
        color: #777;
        font-style: italic;
}

.clear {
        clear : both;
}

.wrapper {
        margin: 0 auto;
        padding: 0 1px;
        width: 1000px;
}

header {
        position: fixed;
        background-color: #002b40;
        z-index: 1;
        margin-top: -15px;
        top: 0px;
        width: 100%;
        height: 75px;
}

header h1 {
        font-size: 20px;
        margin-top: 33px;
        float: left;
        margin-left: -123px;
}

header img {
        margin-top: 25px;
        width: 3%;
        float: left;
        margin-left: -147px
}

header nav ul {
        float: right;
        margin-right: -160px;
}

header nav ul li {
        float: left;
        position: relative;
        display: block;
        margin-top: 37px;
        margin-left: 20px;
        padding: 0;
}

header nav ul li a {
        color: #d0d0d0;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        margin-right: 20px;
}

.body-cont {
        padding-top: 1px;
        height: 1100px;
        background-color: #f4f4f4;
}

.fb-page {
        position: absolute;
        background-color: #fff;
        float: right;
        margin-left: 825px;
        border: 0.5px solid #d0d0d0;
}

.home-content {
        margin-top: 65px;
        height: 950px;
        background-color: #fff;
        margin-left: -140px;
        width: 96%;
}

.cta img {
        width: 100%;
}

.cta h3 {
        position: absolute;
        width: 100%;
        top: 200px;
        left: -150px;
        font-size: 40px;
        color: white;
        text-shadow: 3px 3px black;
        font-family: 'Open Sans';
}

.cta h4 {
        position: absolute;
        width: 100%;
        top: 265px;
        margin-left: 230px;
        font-size: 22px;
        color: white;
        text-shadow: 3px 3px black;
        font-family: 'Open Sans';
}

.cta .button-1 {
        position: absolute;
        top: 350px;
        margin-left: 380px;
        text-align: center;
        border-radius: 3px;
        outline: 3px solid #002b40;
        color: #fff;
        width: 180px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;

}

.cta .button-1:hover {
        background: #002b40;
        color: #fff;
}

.desc h4 {
        margin-left: 123px;
        margin-top: 10px;
        font-family: 'Lato';
}

.home-content p {
        font-size: 16px;
        font-family: 'Lato';
        margin: 20px;
        text-align: center;
}

.benefactor h4 {
        margin-left: 0px;
}

.benefactor {
        margin-left: 120px;
        margin-top: 10px;
        font-family: 'Lato';
        margin: 20px;
        text-align: center;
}

.button-2 {
        position: absolute;
        text-align: center;
        margin-left: -90px;
        border-radius: 3px;
        outline: 3px solid #002b40;
        color: #002b40;
        width: 180px;
        height: 50px;
        font-size: 20px;
        line-height: 25px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
}

.button-2:hover {
        background: #002b40;
        color: #fff;
}

footer {
        padding: 8px 10px;
        background: #fff;
        border-top: 1px solid #e5e5e5;
        color: #fff;
        width: 100%;
        height: 160px;
        margin: 0 auto;

}

.footer-supp {
        margin-left: 390px;
}

.footer-supp h5 {
        font-family: "Anonymous Pro";
        font-size: 18px;
}

.sponsor-images-footer1 {
        margin-left: -400px;
        margin-top: 25px;
}

.sponsor-images-footer1 img {
        float: left;
        display: inline;
        margin-left: 20px;
}

#footer-info {
        width: 400px;
        float: left;
        margin-left: -100px;
        margin-top: 25px;
}

#footer-links {
        width: 530px;
        float: right;
        margin-right: -150px;
}

#footer-links ul li {
        float: left;
        display: block;
        margin-top: 25px;
        margin-left: 15px;
        padding: 0;
}

#footer-links ul li a {
        color: #fff;
}

#footer-links ul li a:hover {
        text-decoration: underline;
}

.gallery-container {
        height: 800px;
        background-color: #f4f4f4;
}

.contact-container {
        height: 800px;
        padding-top: 1px;
        margin-top: -20px;
        background: #f4f4f4;
}

.contact-content {
        height: 665px;
        background-color: #fff;
        margin-top: 10px;
}

.contact-info {
        margin-top: 90px;
        text-align: center;
        background-color: #fff;
}

.contact-info h3 {
        padding-top: 35px;
        font-family: 'Lato';
}

.contact-info p {
      max-width: 40%;
      margin-left: 290px;
      font-family: 'Lato';
}

.contact {
        margin-top: 80px;
}

.join-container {
        height: 1200px;
        padding-top: 1px;
        margin-top: -20px;
        background: #f4f4f4;
}

.join-content {
        height: 1065px;
        background-color: #fff;
        margin-top: 10px;
}

.join-info {
        margin-top: 90px;
        text-align: center;
        background-color: #fff;
}

.join-info h3 {
        padding-top: 35px;
        font-family: 'Lato';
}

.join-info p {
      max-width: 40%;
      margin-left: 290px;
      font-family: 'Lato';
}

.join {
        margin-top: 80px;
}

.donate-container {
        height: 1400px;
        padding-top: 1px;
        margin-top: -20px;
        background: #f4f4f4;
}

.donate-content {
        height: 1200px;
        background-color: #fff;
        margin-top: 10px;
}

.donate-info {
        margin-top: 90px;
        text-align: center;
        background-color: #fff;
}

.donate-info h3 {
        padding-top: 35px;
        font-family: 'Lato';
}

.donate-info p {
      max-width: 60%;
      margin-left: 200px;
      font-family: 'Lato';
}

.donate {
        margin-top: 80px;
}

.event-container {
    height: 1900px;
    padding-top: 1px;
    background-color: #f4f4f4;
}

.event-cont h4 {
    text-align: center;
}

.event-cont p {
    text-align: center;
    width: 40%;
    margin-left: 300px;
    margin-bottom: 50px;
}

.david {
    margin-top: 50px;
}

.david h5 {
    margin-bottom: 25px;
    margin-left: 400px;
}

.david img {
    margin-left: 375px;
}

.julia h5 {
    margin-bottom: 25px;
    margin-left: 395px;
}

.julia img {
    margin-left: 310px;
}

.sam h5 {
    margin-bottom: 25px;
    margin-left: 405px;
}

.sam img {
    margin-left: 360px;
}

.tickets img {
    margin-left: 355px;
}

.event-cont {
    margin-top: 100px;
    height: 1775px;
    background-color: #fff;
}


label {
    display:block;
    margin-top:20px;
    margin-left: 0px;
}

select {
        margin-top: 10px;
        width: 250px;
}

form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#family {
    display: none;
}

#cc-container {
    height: 350px;
    background-color: #fff;
}

#cc-expiry {
    width: 120px;
}

#cc-cvv {
    width: 120px;
}

#submit {
    width:127px;
    height:38px;
    margin-left: 160px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

#submit:hover {
	    opacity:.9;
}

#title {
  margin-bottom: 20px;
}



#childOneDb {
    width: 90px;
}

#childTwoDb {
    width: 90px;
}

#childThreeDb {
    width: 90px;
}

td {

  	align: center;
  	text-align:left;

  }

td h5 {
  	vertical-align:top;
  	margin-left:10px;
  }

td p {
  	vertical-align:top;
  	margin-left: 10px;
  	text-align:left;
  }
  
 td img {
	 margin-left:10px;
 }

.table-align {
  	vertical-align:top;
  	text-align:center;
  	margin-left:10px;
  }

.people-content {
    margin-top: 65px;
    height: 5850px;
    background-color: #fff;
    margin-left: -140px;
    width: 96%;
    margin-bottom: 20px;
  }
  
.people-cont {
    padding-top: 1px;
    padding-left: 325px;
    height: 5950px;
    background-color: #f4f4f4;
  }

.people-cont h4 {
    text-align: center;
}

.supporters-content {
    margin-top: 65px;
    height: 800px;
    background-color: #fff;
    margin-left: -140px;
    width: 96%;
    margin-bottom: 20px;
	
  }
.supporters-content p {
	text-align:left;
	font-size:16px;
	margin-left:80px;
	margin-right:80px;
}

.supporters-cont {
    padding-top: 1px;
    padding-left: 325px;
    height: 900px;
    background-color: #f4f4f4;
  }

.supporters-cont h4 {
    text-align: center;
}
.about-container {
    height: 2500px;
    background-color: #f4f4f4;
    padding-top: 1px;
}

.supporters-cont ul {
	margin-left:80px;
	font-size:18px;
}


.about-cont {
    background-color: #fff;
    margin-left: 130px;
    height: 2400px;
    width: 80%;
    margin-top: 75px;

}

.about-cont td {
	margin-left:200px;
}

.about-cont td {
	margin-left:150px;
}
.about-container td {
	margin-left:150px;
}

.about-cont p {
    text-align: center;
    width: 80%;
    margin-left: 85px;
}

.about-cont h4 {
    text-align: center;
}

#home-page-mobile {
    display: none;
}

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
      overflow-y: scroll;
  }

  /*
  Setup a basic body
  */
  body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      font-family: Arial;
      font-size: 18px;
  }

  #home-page-browser {
      display: none;
  }

  /*
  Header is relative so z-index: 1 guarantees always displayed on top
  */
  #header-mobile {
      background-color: #3b5998;
      padding-left: 10px;
      padding-top: 10px;
      padding-right: 10px;
      text-decoration: none;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
      -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
  }

  #header-title {
      font-size: 13px;
      margin-left: 70px;
      margin-top: -45px;
      font-family: "Open Sans";

  }

  /*
  using background color is important to cover the menu
  position absolute isset to cover the whole viewport
  */
  #content {
      background-color: #FFFFFF;
      padding: 52px 10px 10px 10px;
      position: relative;
      width: auto;
      -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
      box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
  }

  .cta-mobile {
      height: 200px;
      margin-top: 5px;
      background: url(../images/fullorc.jpg);
      background-size: cover;
      background-position: center;
  }

  .cta-mobile h3 {
      position: absolute;
      width: 100%;
      margin-top: 50px;
      left: 0px;
      text-transform: uppercase;
      text-align: center;
      font-size: 20px;
      color: white;
      text-shadow: 3px 3px black;
      font-family: 'Open Sans';
  }

  .cta-mobile .button-1 {
      position: absolute;
      margin-top: 120px;
      margin-left: 130px;
      text-align: center;
      border-radius: 3px;
      outline: 2px solid #002b40;
      color: #fff;
      width: 85px;
      height: 35px;
      font-size: 15px;
      line-height: 35px;
      background: #002b40;
      color: #fff;
  }

  .desc-mobile h2 {
      text-align: center;
      margin-left: 5px;
      margin-top: 25px;
      font-size: 20px;
      font-family: 'Lato';
  }

  .benefactor-mobile h2 {
      text-align: center;
      margin-left: 5px;
      margin-top: 25px;
      font-size: 20px;
      font-family: 'Lato';
  }

  .desc-mobile p {
      font-size: 16px;
      font-family: 'Lato';
      margin-left: 15px;
      margin-right: 15px;
      text-align: center;
  }

  .benefactor-mobile p {
      font-size: 16px;
      font-family: 'Lato';
      margin-left: 15px;
      margin-right: 15px;
      padding-bottom: 75px;
      text-align: center;
  }

  .button-2-fix-mobile {
      margin-bottom: 25px;
      margin-left: -18px;
      margin-top: -10px;
  }

  .button-2 {
      position: absolute;
      margin-top: -50px;
      margin-left: 130px;
      text-align: center;
      border-radius: 3px;
      outline: 2px solid #002b40;
      color: #fff;
      width: 120px;
      height: 55px;
      font-size: 15px;
      line-height: 25px;
      background: #002b40;
      color: #fff;
  }

  /*
  the hamburger button with a little gradient effekt
  */
  #hamburger {
      border: 1px solid #374C77;
      border-radius: 3px 3px 3px 3px;
      cursor: pointer;
      display: block;
      height: 24px;
      padding: 3px 4px 3px;
      position: relative;
      width: 25px;
      background: #4569b2;
      background: -moz-linear-gradient(top, #4569b2 0%, #4062a5 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4569b2), color-stop(100%, #4062a5));
      background: -webkit-linear-gradient(top, #4569b2 0%, #4062a5 100%);
      background: -o-linear-gradient(top, #4569b2 0%, #4062a5 100%);
      background: -ms-linear-gradient(top, #4569b2 0%, #4062a5 100%);
      background: linear-gradient(to bottom, #4569b2 0%, #4062a5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4569b2', endColorstr='#4062a5', GradientType=0);
  }

  /*
  The white stripes in the hamburger button
  */
  #hamburger div {
      background-color: #fff;
      border: 1px solid #eee;
      border-radius: 2px 2px 2px 2px;
      height: 2px;
      margin-top: 3px;
      width: 90%;
  }

  /*
  The navigation container in the background
  */
  nav {
      opacity: 0;
      left: 0px;
      top: 0px;
      position: fixed;
      z-index: 0;
      width: 70%;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      background: #3e3c3d;
      background: -moz-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3c3d), color-stop(100%, #2d2c2d));
      background: -webkit-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
      background: -o-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
      background: -ms-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
      background: linear-gradient(to bottom, #3e3c3d 0%, #2d2c2d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3c3d', endColorstr='#2d2c2d', GradientType=0);
  }

  /*
  Style the navigation menu
  */
  nav ul {
      list-style: none;
      margin: 0;
      width: 100%;
      padding: 0;
  }

  nav li {
      position: relative;
      font-size: 1em;
      font-weight: bold;
      border-bottom: 1px solid #222222;
      border-top: 1px solid #444444;
      padding: 15px;
  }

  nav li a {
      color: #fff;
      text-decoration: none;
  }

  /*
  The Layer that will be layed over the content
  so that the content is unclickable while menu is shown
  */
  #contentLayer {
      display: none;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 30%;
      z-index: 5;
  }

  footer {
      display: none;
  }
